@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
h1{
        font-Size: 30px;
        text-align: center;
        font-family: 'Bungee Spice', sans-serif;
        margin-top: 10px;
        padding: 10px;
        
}