input{
    margin: 15px;
    width: 500px;
    height: 56px;
    border-radius: 1rem;
    border: 2px solid #202329;
   background: #f9fbfc;
    text-align: left;
    font-size: 25px;
    color: #151516;
    box-shadow: 0 5px 50px;

}
.TodoFilter::placeholder{
color:#a5a5a5;
font-family:montserrat;font-weight:400px}
.TodoFilter:focus{outline-color:#03bc91}
